@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Chào mừng đến quản lý cửa hàng của chúng tôi</strong></h1>
    <p>Chúc bạn ngày tốt lành, chào và thân ái quyết qua môn, không qua đốt trường ...</p>
</div>
